<nav>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="https://app-test-web-dh.herokuapp.com/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="https://app-test-web-dh.herokuapp.com/test">Test</a>
        </li>
    </ul>
</nav>